@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.css-80x64y-MuiPaper-root-MuiDrawer-paper{
  background-color: #145B50;
}

.custom-disabled-textfield.Mui-disabled .MuiInputBase-input {
  color: #228c22 !important;
}

.custom-disabled-textfield.Mui-disabled .MuiFormHelperText-root {
  color: #228c22 !important;
}

.custom-disabled-textfield.Mui-disabled .MuiOutlinedInput-notchedOutline {
  border-color: #228c22 !important;
}